@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #212121;
  margin: 0;
}

header {
  background-color: #212121;
  color: #fff;
  position: relative;
  display: flex;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.logo {
  width: 40%;
  height: 100%;
  float: left;
  display: flex;
  margin-left: 70px;
  align-items: center;
  box-sizing: border-box;
}

.logo h2 {
  margin-left: 20px;
  font-size: 25pt;
  font-family: "League Spartan", sans-serif;
  cursor: default;
}

.logo img {
  width: 10%;
}

nav {
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav ul {
  align-items: center;
}

nav li {
  font-size: 12pt;
  font-weight: bold;
  list-style: none;
  display: inline-flex;
  margin-top: 20px;
  margin-right: 60px;
  margin-left: 50px;
}

nav a:hover {
  color: #4b0084;
}

nav a:active {
  color: #36005f;
}

#cover {
  background-image: url(img/ceu-estrelado.png);
  /*background: linear-gradient(4.5rad, #180039, #1a003e, #300055, #36005f);*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 400px;
  border-top: #fff solid 1px;
  border-bottom: #fff solid 1px;
}

#cover h1 {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 150px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  margin-left: 50px;
}

#cover div {
  color: #fff;
  font-family: "Tilt Neon", sans-serif;
  font-weight: 500;
  text-align: center;
  display: flex;
  margin-left: 250px;
  align-items: center;
  border: #fff solid 1px;
  margin: auto auto;
  background-color: #0e0e0e;
  border-radius: 5px;
  padding: 20px;
  font-size: 16pt;
}

#cover a {
  position: absolute;
  right: 0;
  margin: 2em 4em;
  font-size: 12pt;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  border: 1px solid #0e0e0e;
  border-radius: 3px;
  padding: 1em;
  background-color: #0e0e0e;
}

#cover a:hover {
  color: #4b0084;
}

#cover a:active {
  color: #36005f;
}

#caracRes {
  width: 100%;
  height: 500px;
}

#caracRes h3 {
  color: #fff;
  font-family: "Tilt Neon", sans-serif;
  text-align: center;
  font-size: 23pt;
  background-color: #212121;
  padding-top: 10px;
  padding-left: 25px;
}

#caracRes section {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #212121;
}

#caracRes section ul {
  display: flex;
  float: left;
  margin-top: 40px;
  list-style-type: none;
  margin-left: 55px;
}

#caracRes section ul li {
  margin-right: 50px;
}

#caracRes section ul li p {
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  margin-left: 10px;
  font-size: 18pt;
  text-align: center;
}

#caracSign {
  display: flex;
  align-items: center;
  border: #fff solid 1px;
  border-radius: 3px;
  background-color: #0e0e0e;
  width: 100%;
  height: 240px;
  padding: 10px;
  box-sizing: border-box;
}

#caracElem {
  display: flex;
  align-items: center;
  border: #fff solid 1px;
  background-color: #0e0e0e;
  border-radius: 3px;
  width: 100%;
  height: 240px;
  padding: 10px;
  box-sizing: border-box;
}

.citycarac {
  font-family: "Bebas Neue", sans-serif;
  font-size: 16pt;
  margin: auto auto;
  align-items: center;
  border: #fff solid 1px;
  background-color: #0e0e0e;
  border-radius: 3px;
  width: 40%;
  height: 80px;
  padding: 10px;
  box-sizing: border-box;
}

.citycarac p {
  text-align: center;
}

.citycarac a {
  text-decoration: none;
  color: #fff;
}

.citycarac a:hover {
  color: #4b0084;
}

.citycarac a:active {
  color: #36005f;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  border-top: #1a1a1a solid 1px;
}

footer img {
  padding: 10px;
  height: 50px;
  width: 50px;
  margin: 0 100px;
}
