<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="fire.css" />
    <link rel="icon" type="image/x-icon" href="img/icone.png" />
    <title>About Signs</title>
  </head>

  <body>
    <main>
      <header>
        <div class="logo">
          <img src="../img/icone.png" alt="Logo" />
          <h2>sign.score</h2>
        </div>
        <nav>
          <ul>
            <a href="/">
              <li>home</li>
            </a>
            <a href="register">
              <li>create account</li>
            </a>
            <a href="aboutsign">
              <li>about signs</li>
            </a>
            <a href="aboutus">
              <li>about us</li>
            </a>
          </ul>
        </nav>
      </header>
      <div id="cover">
        <h1>Signs of Fire</h1>
      </div>
      <section id="elemFogo">
        <div class="fogo">
          <h2>Fire</h2>
          <p>
            According to the astrologer Leonardo Lemos, "the Fire element is the
            one that recognizes will, inspires, and takes action." The vitality
            of Fire individuals doesn't go along with the "middle ground." They
            came into the world to showcase their talents and leave their mark.
          </p>
          <p>
            Planets in the Fire element act according to their own will and with
            great expressiveness. That's why when there is a lack of Fire in the
            Natal Chart, shyness and inhibition prevail. "Bold action and
            attitudes are hindered," explains Leonardo.
          </p>
          <p>
            This is why it's important to view the Natal Chart as a whole.
            Individual pieces of information can indicate trends, but it's the
            combination of them that provides more precise information.
          </p>
        </div>
        <div id="signs">
          <h3>Aries</h3>
          <p>
            Individuals born under the sign of Aries have a strong tendency to
            be impulsive and courageous. Individuality, joy, and extroversion
            are also common characteristics of Aries individuals.
          </p>
          <p>
            Aries is a warrior sign, but immaturity can turn this into something
            negative, creating rivalries and an authoritative image.
          </p>
        </div>
        <div id="signs">
          <h3>Leo</h3>
          <p>
            The sign of Leo also features courage, but here alongside
            creativity. Leos are often extroverted, good-humored, and generous
            individuals.
          </p>
          <p>
            They also tend to have great self-esteem, which, when imbalanced,
            can lead to arrogant and explosive behaviors.
          </p>
        </div>
        <div id="signs">
          <h3>Sagittarius</h3>
          <p>
            Optimism and a desire for freedom are prominent characteristics in
            Sagittarius. Therefore, it's common for people of this sign to be
            known as "world citizens." They enjoy traveling the world or
            exploring their minds for new experiences.
          </p>
          <p>
            Sagittarians tend to have a good sense of humor and vanity. However,
            excessive vanity can give off an image of being "know-it-alls,"
            considering themselves authorities on topics they don't fully
            understand.
          </p>
        </div>
      </section>
    </main>

    <footer>
      <a href="https://github.com/duducamargo" target="_blank">
        <img src="../img/footer/github.svg" alt="github" />
      </a>
      <a href="https://www.instagram.com/dudu__farias_/" target="_blank">
        <img src="../img/footer/instagram.svg" alt="instagram" />
      </a>
      <a href="https://github.com/Without-Creativity" target="_blank">
        <img src="../img/footer/withoutC.svg" alt="Without Creativity" />
      </a>
    </footer>
  </body>
</html>
