<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="water.css" />
    <link rel="icon" type="image/x-icon" href="img/icone.png" />
    <title>About Signs</title>
  </head>

  <body>
    <main>
      <header>
        <div class="logo">
          <img src="../img/icone.png" alt="Logo" />
          <h2>sign.score</h2>
        </div>
        <nav>
          <ul>
            <a href="/">
              <li>home</li>
            </a>
            <a href="register">
              <li>create account</li>
            </a>
            <a href="aboutsign">
              <li>about signs</li>
            </a>
            <a href="aboutus">
              <li>about us</li>
            </a>
          </ul>
        </nav>
      </header>
      <div id="cover">
        <h1>Signs of Water</h1>
      </div>
      <section id="elemAgua">
        <div class="agua">
          <h2>Water</h2>
          <p>
            Individuals of the Water element tend to develop strong instinctual
            intuition, ignoring the rational. They easily guide their actions by
            emotions.
            <br />
            According to astrologer Leonardo Lemos, "Water takes a more discreet
            and profound path. It captures the environment, feels, and nurtures
            through imagination." Care and facing fears and insecurities are
            present in the personality of Water individuals.
            <br />
            On the other hand, Leonardo warns about the lack of this element in
            the Natal Chart. "People with a lack of Water may have a personality
            that is disconnected from their emotions and needs."
          </p>
        </div>
        <div class="signs">
          <h3>Cancer</h3>
          <p>
            Individuals born under the sign of Cancer tend to be sensitive and
            affectionate. They are sensitive, emotional, and usually have strong
            bonds with family and the past – which can even lead to melancholy.
            <br />
            They can be very attached to those around them, especially to those
            they love. Instinctive, Cancer individuals guide their actions by
            feelings, and when immature, they can end up being manipulative.
            <br />
            Cancer is ruled by the Moon, which reinforces the maternal/paternal
            profile of the sign and also signals possible emotional
            fluctuations.
          </p>
        </div>
        <div class="signs">
          <h3>Scorpio</h3>
          <p>
            Intensity. Maybe that's the best way to start describing a Scorpio
            person. But the characteristics don't stop there. Intuition,
            strength, and the ability to reinvent themselves are also part of
            their personality.
            <br />
            Scorpios tend to be quite passionate, generous, and very connected
            to their feelings. However, these characteristics, when out of
            balance, can develop possessive and obsessive behaviors.
            <br />
            Mars and Pluto are the rulers of Scorpio. The first highlights
            strategic aggressiveness, while the second signifies the sign's
            relationship with death and rebirth.
          </p>
        </div>
        <div class="signs">
          <h3>Pisces</h3>
          <p>
            Pisces individuals tend to identify with sensitivity and intuition.
            They tend to be empathetic and humble people, always seeking to
            perceive the whole through themselves, with a strong capacity for
            understanding and compassion.
            <br />
            People born under the sign of Pisces often attach great importance
            to their dreams and what is not yet real. They are also romantic,
            and this combination can lead to platonic loves or romantic
            disappointments (but who hasn't been there?)
            <br />
            Pisces is ruled by Jupiter and Neptune. On one hand, Jupiter
            highlights a focus on spirituality. On the other hand, Neptune
            brings great potential for fantasy and imagination.
          </p>
        </div>
      </section>
    </main>

    <footer>
      <a href="https://github.com/duducamargo" target="_blank">
        <img src="../img/footer/github.svg" alt="github" />
      </a>
      <a href="https://www.instagram.com/dudu__farias_/" target="_blank">
        <img src="../img/footer/instagram.svg" alt="instagram" />
      </a>
      <a href="https://github.com/Without-Creativity" target="_blank">
        <img src="../img/footer/withoutC.svg" alt="Without Creativity" />
      </a>
    </footer>
  </body>
</html>
